*.sdf
*.user
*.cache
Software/Demo1553/Demo1553/obj/x86/Debug/Demo1553.pdb
*.ipch
*.exp
*.pdb
*.suo
*.opensdf
*.pdb
*.exe
*.ilk
*.lib
Software/Demo1553/Demo1553/Demo1553.csproj.user
*.tlog
Software/Demo1553/Demo1553/bin
Software/Demo1553/Demo1553/obj
*/*/obj/
*/*/bin/
*.bak